<div style="margin: 20px 0;">
    <% if(posts.page - 1) { %> 
        <a href="/posts?page=<%= posts.page - 1 %>">Prev</a>
    <% } %> 
    
    <% for(let i = 1; i <= posts.pages; i++) { %> 
        <a href="/posts?page=<%= i %>" <%= i === parseInt(posts.page) ? `style=color:#000` : "" %>><%= i %></a>
    <% } %>

    <% 
    let pageNumber = parseInt(posts.page);
    if((pageNumber + 1) <= posts.pages) { %> 
        <a href="/posts?page=<%= pageNumber + 1 %>">Next</a>
    <% } %> 
</div>