<div style="margin: 20px 0;">
    <% if(posts.page - 1) { %> 
    <a href="<%= paginateUrl %><%= posts.page - 1 %>">Prev</a>
    <% } %> 
    
    <% if(posts.pages > 1 && posts.docs.length) { %>
        <% for(let i = 1; i <= posts.pages; i++) { %> 
            <a href="<%= paginateUrl %><%= i %>" <%= i === parseInt(posts.page) ? `style=color:#000` : "" %>><%= i %></a>
        <% } %>
    <% } %>

    <% let pageNumber = parseInt(posts.page);
    if((pageNumber + 1) <= posts.pages) { %> 
    <a href="<%= paginateUrl %><%= pageNumber + 1 %>">Next</a>
    <% } %> 
</div>