<% layout("layouts/boilerplate.ejs"); -%>
<h1>Edit Post</h1>

<!-- Override POST method to PUT method -->
<form action="/posts/<%= post.id %>?_method=PUT" enctype="multipart/form-data" method="POST" id="postEditForm" >
    <div>
        <input name="post[title]" type="text" placeholder="Title" value="<%= post.title %>">
    </div>
    <div>
        <textarea name="post[description]" placeholder="Description"><%= post.description %></textarea>
    </div>
    <div>
        <input name="post[price]" type="number" step=".01" placeholder="Price" value="<%= post.price %>">
    </div>
    <div>
        <input type="file" accept="images/*" id="imageUpload" name="images" multiple />
        <div>
        <% post.images.forEach((image, i) => { %>
            <img src="<%= image.url %>" alt="Surf Board Image" width="100px">
            <label for="image<%= i %>">Delete?</label>
            <input type="checkbox" name="deleteImages[]" class="imageDeleteCheckbox" id="image<%= i %>" value="<%= image.public_id %>">
        <% }); %>
        </div>
    </div>
    <div>
        <input name="post[location]" type="text" placeholder="Location" value="<%= post.location %>">
    </div>

    <input type="submit">
</form>

<script src="/javascripts/post-edit.js"></script>