<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
<style>
    #map-container {
        width: 350px;
        height: 200px;
    }

    .marker {
        background-image: url('/images/icons/mapbox-icon.png');
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }
    .mapboxgl-popup {
        max-width: 200px;
    }

    .mapboxgl-popup-content {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }
</style>

<h1>Title: <%= post.title %></h1>
<div>Description: <%= post.description %></div>
<div>Price: <%= post.price %></div>
<div>Location: <%= post.location %></div>
<% post.images.forEach(images => { %>
    <div><img src="<%= images.url %>" alt="Surf Board Image" width="100px"></div>
<% }); %>
<div id='map-container'>

</div>
<div>
    <a href="/posts/<%= post.id %>/edit">
        <button>Edit</button>
    </a>
</div>
<div>
    <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
</div>

<script>
    let post = <%- JSON.stringify(post) %>;

    mapboxgl.accessToken = 'pk.eyJ1IjoiY2hlZXplcSIsImEiOiJja3d6dThkbG0wMjVsMnZxbzJkNjMxazV3In0.MP4ZK40qD-C8-Ezarrs-rA';
    
    const map = new mapboxgl.Map({
        container: 'map-container',
        style: 'mapbox://styles/mapbox/light-v10',
        center: post.coordinates,
        zoom: 5
    });

    // create a HTML element for each feature
    const el = document.createElement('div');
    el.className = 'marker';

    // make a marker for each feature and add to the map
    new mapboxgl.Marker(el)
        .setLngLat(post.coordinates)
        .addTo(map)
        .setPopup(
            new mapboxgl.Popup({ offset: 25 }) // add popups
            .setHTML(
                `<h3>${post.title}</h3><p>${post.location}</p>`
            )
        );
    
</script>