<h1>Title: <%= post.title %></h1>
<div>Description: <%= post.description %></div>
<div>Price: <%= post.price %></div>
<div>Location: <%= post.location %></div>
<% post.images.forEach(images => { %>
    <div><img src="<%= images.url %>" alt="Surf Board Image"></div>
<% }); %>
<div>
    <a href="/posts/<%= post.id %>/edit">
        <button>Edit</button>
    </a>
</div>
<div>
    <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
</div>
